<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Jihyuneblog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div>
        <h1>JihyuneBlog</h1>
        <p><a href="/posts/new">글 쓰기</a>
        </p>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>번호</th>
                <th>제목</th>
                <th>내용</th>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.id}"></td>
                <td th:text="${post.title}"></td>
                <td th:text="${post.content}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>